*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: clean;
    src: url("./assets/fonts/Cleanow.ttf");
}

:root {
    --taskrGreen: rgba(59, 223, 173, 1);
}

/* h1 {
    color: rgba(59, 223, 173, 1);
    font-family: clean;
} */

body {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-auto-rows: 100vh;
    width: 100vw;
}



.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    background-color: #333;
}

header {
    display: flex;
    margin-bottom: 3rem;
    height: 4rem;
}
header > h1 {
    margin-top: 1rem;
    color: var(--taskrGreen);
    font-family: clean;
}
.icon-div {
    width: 5rem;    
    background-image: url("./assets/images/taskr.png");
    background-size: 3rem;
    background-repeat: no-repeat;
}

.new-btn {
    border-radius: .5rem;
    height: 3rem;
    width: 4rem;
    align-self: center;
    margin-bottom: 2rem;
}
.new-btn:hover {
    cursor: pointer;
}

.project-list-div {
    height: fit-content;
}
.project-list-div > h2 {
    color: var(--taskrGreen);
    font-family: clean;
    margin-bottom: 1rem;
}
.project-list-div > ul {
    display: grid;
    grid-template-columns: 1fr 2rem;
    padding-right: 1rem;
}
.project-list > li {
    color: white;
    list-style: none;
    margin-bottom: 0.5rem;
}
.project-list > *:hover {
    user-select: pointer;
    cursor: pointer;
    color: var(--taskrGreen);
    background-color: var(--taskrGreen);
}
.project-list > img {
    width: 1rem;
}



.new-project-modal, .new-task-modal {
    place-self: center;
    padding: 1rem;
    background-color: #333;
    color: var(--taskrGreen);
    border-radius: 0.5rem;
    justify-items: center;
    /* scrollbar-width: none; */
    min-height: fit-content;
    min-width: fit-content;
}
.new-project-modal > button, .new-task-modal > button {
    background-color: var(--taskrGreen);
}
.new-project-modal > h2, .new-task-modal > h2 {
    font-family: clean;
    letter-spacing: .1rem;
    margin: 1rem;
}
.new-project-modal::backdrop, .new-task-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);  
}
.close-project-modal, .close-task-modal {
    position: absolute;
    right: 0;
    top: 0;
}
.new-project-form, .new-task-form {
    display: grid;
}
.new-project-form > button, .new-task-form > button {
    font-size: 1rem;
    background-color: var(--taskrGreen);
    min-width: 15rem;
}
.new-project-form > input, textarea, .new-task-form > input, textarea {
    margin-bottom: 1rem;
}




main {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    padding: 2rem;
}
main > button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 0.35rem;
    border: 0.15rem solid #333;
    background-color: var(--taskrGreen);
    cursor: pointer;
}
main > * > h2, h1 {
    /* color: var(--taskrGreen); */
    font-family: clean;
}
.project-wrapper {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #333;
    background-color: var(--taskrGreen);
}
.sub-tasks-header {
    display: flex;
    justify-content: space-between;
}
.sub-tasks-header > h2 {
    font-family: clean;
}
.sub-tasks-header > img {
    width: 3rem;
    height: 2.2rem;
}
.new-task-btn {
    width: 2rem;
}
.task-wrapper {
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    padding: 1rem;
    border-radius: .5rem;
    border: .15rem solid #333;
    background-color: var(--taskrGreen);
}
.task-wrapper > h3, p {
    grid-column: 2;
}   
.subcan {
    grid-column: 3;
    max-width: 2rem;
    place-self: center;
}